# .NET
bin/
obj/
*.user
*.suo
*.cache
*.csproj.user
*.dbmdl
*.bak
*.backup
*.log

# Visual Studio
.vs/
.vscode/
*.vscode/
*.dll
*.exe
*.pdb
*.ipch/
*.aps
*.ncb
*.sdf
*.opensdf
*.vcxproj.user
*.sln.docstates

# NuGet
*.nupkg
.nuget/
packages/
.project.lock.json
project.fragment.lock.json

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Others
*.swp
*.DS_Store
